<link rel="stylesheet" href="/css/stylepersonas.css">

<header>
    <a href="/museo">
      <img src="/icons/botonVolver.png" style="width: 60px; height: 60px;" class="botonVolver" alt="Volver">
    </a>
    <h1 class="titulo"> museo</h1>
 </header>
<div class="container">
  <% personas.each do |persona| %>
    <div class="card-flex">
      <a href="/personaInd" class="card-link">
        <div class="card">
          <div class="imge">
            <div class="Usericon">
              <img src="<%= persona[:usericon] %>" alt="User icon">
            </div>
            <p class="UserName"><%= persona[:nombre] %></p>
            <div class="social-media">
              <a href="https://www.instagram.com/gastacuadros?igsh=c3FiODM2amtkbTJ5" target="_blank">
                <!-- Instagram icon -->
              </a>
              <a href="#" target="_blank">
                <!-- Facebook icon -->
              </a>
            </div>
          </div>
          <div class="card-img">
            <% persona[:imagenes].each do |img| %>
              <img src="<%= img %>" alt="Imagen de <%= persona[:nombre] %>">
            <% end %>
          </div>
          <div class="description">
            <p class="UserDescription"><%= persona[:descripcion] %></p>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
